# Task 2 .Dictionary

In [9]:
dict2 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [10]:
x = dict2

In [11]:
print(x)

{'april_batch': {'student': {'name': 'Mike', 'marks': {'python': 80, 'maths': 70}}}}

In [12]:
#accessing mike
dict2["april_batch"]["student"]["name"]

'Mike'

In [13]:
# accessing 80
dict2["april_batch"]["student"]["marks"]["python"]

80

In [14]:
# change Mike to Tushar
dict2["april_batch"]["student"]["name"] = "Tushar"

In [15]:
print(dict2)

{'april_batch': {'student': {'name': 'Tushar', 'marks': {'python': 80, 'maths': 70}}}}

In [ ]:
# add Ml = 80 & dl = 80 inside marks.
dict2["marks"] = "ml : 80", "dl : 80"

In [19]:
print(dict2)

{'april_batch': {'student': {'name': 'Tushar', 'marks': {'python': 80, 'maths': 70}}}}